@attribute [StreamRendering]

@inject IPostService PostService
@inject IPostCategoryService PostCategoryService
@inject NavigationManager NM

<section class="posts-viewer">
    <section class="posts-viewer-posts">
        @if (Posts is not null)
        {
            @if (Posts.Data.Length > 0)
            {
                @foreach (var post in Posts.Data)
                {
                    <article class="post-preview">
                        <img src=@($"{NM.BaseUri}images/latest-post-1.jpeg") alt="Imagen post" height="200" width="280" />
                        <div>
                            <p class="text-spaced">@post.PostCategory</p>
                            <h5 class="parsalud-text-primary-light">@post.Title</h5>
                            <p>@post.Content</p>
                        </div>
                    </article>
                }
                <ul class="pagination align-self-center">
                    @((MarkupString)GetPaginatorItems(Posts.TotalItems))
                </ul>
            }
            else
            {
                <p>Lo siento, no encontramos nada</p>
            }
        }
        else
        {
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        }
    </section>
    <section class="posts-viewer-sidebar">
        <form id="criteria-form" method="GET" onsubmit="return handleCheckboxSubmit();">
            <input class="form-control" name="s" type="search" placeholder="Buscar artículo" autocomplete="off" value="@GetInputTextValue()" />
            <div class="posts-viewer-categories">
                <p class="mb-2"><b>Categorias</b></p>
                @if (Categories is not null)
                {
                    @if (Categories.Length > 0)
                    {
                        <ul>
                            @foreach (var category in Categories)
                            {
                                <li>
                                    <div>
                                        <input class="form-check-input" type="checkbox" name="c" value="@category.Id" checked="@IsChecked(category.Id)" />
                                        <p>@category.Name</p>
                                    </div>
                                    <p>1</p>
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <p>Lo siento, no encontramos nada</p>
                    }
                }
                else
                {
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                }
            </div>
            <input class="btn btn-primary" type="submit" value="Buscar" />
        </form>  
        <section class="posts-viewer-recent-posts">
            <h5><b>Entradas recientes</b></h5>
            @if (LatestPosts is not null)
            {
                @foreach (var post in LatestPosts)
                {
                    <article>
                        <img src=@($"{NM.BaseUri}images/latest-post-1.jpeg") alt="Imagen post" height="50" width="80" />
                        <div>
                            <p><b>@post.Title</b></p>
                            <p>@post.CreatedAt.ToString(formato, cultura)</p>
                        </div>
                    </article>
                }
            }
            else
            {
                <div class="d-flex justify-content-center">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            }
        </section>
    </section>
</section>