@page "/Dashboard/Section/Create"
@page "/Dashboard/Section/{Id:guid}/Update"
@page "/Dashboard/Section/{Id:guid}/View"

@inject ISectionService Service
@inject IStyleSheetService StyleSheetService

@inherits BaseAbm<Guid>

@using Radzen.Blazor.Rendering

<PageTitle>@Action("Nueva", "Editar", "Ver") sección - Dashboard Parsalud</PageTitle>

<RadzenCard>
    <RadzenText TextStyle="TextStyle.H2" TagName="TagName.H2">@Action("Nueva", "Editar", "Ver") sección</RadzenText>
    <RadzenAlert AlertStyle="AlertStyle.Base">
        Se recomienda precaución al modificar las secciones. Para evitar la pérdida de información debido a posibles errores, es aconsejable crear una copia de seguridad antes de realizar cualquier cambio, permitiendo así la recuperación del estado original si es necesario.
    </RadzenAlert>
    <RadzenTemplateForm @ref="Form" TItem="SectionModel" Data="Model" Submit="Submit">
        <RadzenStack>
            <RadzenRow>
                <RadzenColumn SizeMD="6">
                    <RadzenFormField class="rz-w-100" Text="Código">
                        <RadzenTextBox Name=@nameof(Model.Code) Change="CodeChanged" ReadOnly=@ReadOnly @bind-Value=@Model.Code />
                    </RadzenFormField>
                    <RadzenRequiredValidator Component=@nameof(Model.Code) Text="Código es requerido" />
                </RadzenColumn>
                <RadzenColumn SizeMD="6">
                    <RadzenFormField class="rz-w-100" Text="Nombre">
                        <RadzenTextBox Name=@nameof(Model.Name) ReadOnly=@ReadOnly @bind-Value=@Model.Name />
                    </RadzenFormField>
                    <RadzenRequiredValidator Component=@nameof(Model.Name) Text="Nombre es requerido" />
                </RadzenColumn>
            </RadzenRow>
            <RadzenAccordion>
                <Items>
                    <RadzenAccordionItem Text="Parámetros"
                                         Icon="manufacturing"
                                         ExpandTitle="Expandir"
                                         CollapseTitle="Contraer"
                                         ExpandAriaLabel="Expandir"
                                         CollapseAriaLabel="Contraer"
                                         @bind-Selected=@ParametrosRutaSelected>
                        <RadzenAlert AlertStyle="AlertStyle.Info" Text="Asignar parámetros convertirá su sección en una página. La url debe coincidir con los parámetros asignados acá para poder ser encontrada por el router." />
                        <RadzenStack Gap="1rem">
                            <RadzenTextBox Placeholder="Página" @bind-Value=@Model.Page />
                            <RadzenStack Orientation="Orientation.Horizontal" Gap="1rem" Wrap="FlexWrap.Wrap">
                                <RadzenTextBox Placeholder="Param1" @bind-Value=@Model.Param1 />
                                <RadzenTextBox Placeholder="Param2" @bind-Value=@Model.Param2 />
                                <RadzenTextBox Placeholder="Param3" @bind-Value=@Model.Param3 />
                                <RadzenTextBox Placeholder="Param4" @bind-Value=@Model.Param4 />
                                <RadzenTextBox Placeholder="Param5" @bind-Value=@Model.Param5 />
                                <RadzenTextBox Placeholder="Param6" @bind-Value=@Model.Param6 />
                            </RadzenStack>
                        </RadzenStack>
                    </RadzenAccordionItem>
                </Items>
            </RadzenAccordion>

            <RadzenTabs Style="height:74vh">
                <Tabs>
                    <RadzenTabsItem Text="Vista">
                        <RadzenRow>
                            <RadzenColumn SizeMD="12">
                                <div class="position-relative">
                                    <iframe @key=@iframei src=@($"{NM.BaseUri}Preview/{Model.Code}/{LiveServerId}") style="height:50vh;width:100%"></iframe>
                                    <a target="_blank" href=@($"{NM.BaseUri}Watch/{Model.Code}/{LiveServerId}") style="top:1rem;right:1rem;position:absolute">Abrir en nueva ventana</a>
                                </div>
                                @*         <RadzenHtmlEditor Mode="HtmlEditorMode.Design"
                                                  Style="min-height:400px;max-height:400px;"
                                                  ShowToolbar="false"
                                                  Disabled="true"
                                                  Value=@DesignerContent /> *@
                            </RadzenColumn>
                        </RadzenRow>
                    </RadzenTabsItem>
                    <RadzenTabsItem Text="HTML">
                        <RadzenRow>
                            <RadzenColumn SizeMD="12">
                                <MonacoEditor id="@editorHtmlId"
                                              Name=@nameof(Model.Content)
                                              Language="html"
                                              ValueChanged="SourceChange"
                                              Value="@Model.Content" />
                                <RadzenRequiredValidator Component=@nameof(Model.Content) Text="El contenido de la sección no debe estar vacío" />
                            </RadzenColumn>
                        </RadzenRow>
                    </RadzenTabsItem>
                    <RadzenTabsItem Text="CSS">
                        @if (StyleSheetModel is not null)
                        {
                            <RadzenRow>
                                <RadzenColumn SizeMD="12">
                                    <MonacoEditor id="@editorCssId"
                                                  Name=@nameof(Model.Content)
                                                  Language="css"
                                                  ReadOnly="@ReadOnly"
                                                  ValueChanged="StyleChanged"
                                                  Value=@StyleSheetModel.Content>
                                        <Tools>
                                            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">
                                                <RadzenDropDown TValue="ParsaludStyleSheet"
                                                                class="rz-w-100"
                                                                Placeholder="Hoja de estilos"
                                                                Data="StyleSheets"
                                                                TextProperty=@nameof(ParsaludStyleSheet.FileName)
                                                                AllowClear="true"
                                                                AllowFiltering="true"
                                                                FilterAsYouType="true"
                                                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                                FilterOperator="StringFilterOperator.Contains"
                                                                ValueChanged="StyleSheetChange"
                                                                Value="StyleSheet" />
                                                <ButtonWithTooltip @ref=Button class="rz-h-100" Icon="add" TooltipText="Nueva hoja de estilos" Click="CreateNewStyleSheet" />
                                            </RadzenStack>
                                        </Tools>
                                    </MonacoEditor>
                                </RadzenColumn>
                            </RadzenRow>
                        }
                        else
                        {
                            <RadzenRow>
                                <RadzenAlert AlertStyle="AlertStyle.Info" Text="Use una hoja de estilos para mantener los estilos de su sección en un solo lugar." />
                                <RadzenColumn SizeMD="6">
                                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">
                                        <RadzenDropDown TValue="ParsaludStyleSheet"
                                                        class="rz-w-100"
                                                        Placeholder="Hoja de estilos"
                                                        Data="StyleSheets"
                                                        TextProperty=@nameof(ParsaludStyleSheet.FileName)
                                                        AllowClear="true"
                                                        AllowFiltering="true"
                                                        FilterAsYouType="true"
                                                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                        FilterOperator="StringFilterOperator.Contains"
                                                        ValueChanged="StyleSheetChange"
                                                        Value="StyleSheet" />
                                        <ButtonWithTooltip @ref=Button class="rz-h-100" Icon="add" TooltipText="Nueva hoja de estilos" Click="CreateNewStyleSheet" />
                                    </RadzenStack>
                                </RadzenColumn>
                            </RadzenRow>
                        }
                    </RadzenTabsItem>
                </Tabs>
            </RadzenTabs>

            <RadzenStack Orientation="Orientation.Horizontal">
                @if (!ReadOnly)
                {
                    <RadzenButton class="rz-w-fit-content" ButtonType="ButtonType.Submit" Text=@Action("Crear", "Guardar cambios") Icon="save" IsBusy=@IsBusy BusyText=@Action("Creando...", "Actualizando...") />
                    @if (AbmAction == AbmAction.Update)
                    {
                        <RadzenButton class="rz-w-fit-content" Click="ManualSubmit" Text=@Action(update: "Guardar sin salir (CTRL + S)") Icon="save" IsBusy=@IsBusy BusyText=@Action(update: "Actualizando...") />
                    }
                }
                <RadzenButton class="rz-w-fit-content" ButtonStyle="ButtonStyle.Secondary" Text=@(ReadOnly ? "Volver" : "Descartar") Icon="keyboard_return" Click="Discard" />
            </RadzenStack>
            @if (!string.IsNullOrWhiteSpace(ErrorMsg))
            {
                <RadzenAlert Title="Ocurrió un error" Text=@ErrorMsg AlertStyle="AlertStyle.Danger" AllowClose="false" />
            }
        </RadzenStack>
    </RadzenTemplateForm>
</RadzenCard>

<style type="text/css">
    @($"#{editorHtmlId}, #{editorCssId}")
    {
        height: 50vh;
    }

    .my-popup {
        display: none;
        position: absolute;
        overflow: hidden;
        width: 600px;
        border: var(--rz-panel-border);
        background-color: var(--rz-panel-background-color);
        box-shadow: var(--rz-panel-shadow);
        border-radius: var(--rz-border-radius);
    }
</style>

<Popup @ref=Popup Lazy=true class="my-popup">
    <RadzenRow>
        <RadzenColumn SizeMD="10">
            <RadzenTextBox class="rz-w-100" Placeholder="Nombre de archivo" ReadOnly=@ReadOnly @bind-Value=@CreateStyleSheetModel.FileName />
        </RadzenColumn>
        <RadzenColumn SizeMD="2">
            <RadzenButton Text="Crear" Click="CreateStyleSheet" BusyText="Creando..." IsBusy=@CreatingStyleSheet />
        </RadzenColumn>
    </RadzenRow>
</Popup>