@using Parsalud.Client.Layout
@using Radzen.Blazor

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["Parsalud.styles.css"]" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    @if (isDashboard)
    {
        <link rel="stylesheet" href="@Assets["dashboard.css"]" />
        <HeadOutlet @rendermode="RenderModeForPage" />
    }
    else
    {
        <link rel="stylesheet" href="css/bundle.min.css" />
        <link rel="stylesheet" href="@Assets["lib/aos/dist/aos.css"]" />
        <HeadOutlet />
    }
</head>

<body>
    @if (isDashboard)
    {
        <RadzenTheme Theme="material" @rendermode="RenderModeForPage" />
        <DashboardRoutes @rendermode="RenderModeForPage" />
        <div id="preload">
            <svg class="loading-progress">
                <circle r="40%" cx="50%" cy="50%" />
                <circle r="40%" cx="50%" cy="50%" />
            </svg>
            <div class="loading-progress-text"></div>
        </div>
    }
    else
    {
        <Routes />
    }

    @if (isDashboard)
    {
        <script src="@Assets["lib/prettier/standalone.js"]"></script>
        <script src="@Assets["lib/prettier/plugins/html.js"]"></script>
        <script src="@Assets["lib/prettier/plugins/postcss.js"]"></script>
        <script src="@Assets["js/dashboard.js"]"></script>
        <script src="_content/BlazorMonaco/jsInterop.js"></script>
        <script src="_content/BlazorMonaco/lib/monaco-editor/min/vs/loader.js"></script>
        <script src="_content/BlazorMonaco/lib/monaco-editor/min/vs/editor/editor.main.js"></script>
        <script src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@(typeof(Radzen.Colors).Assembly.GetName().Version)"></script>
    }
    else if (isLanding)
    {
        <script src="@Assets["lib/aos/dist/aos.js"]"></script>
        <script type="text/javascript">
            AOS.init();
            function handleScreenSizeChange(event) {
                const div = document.querySelector('#container');

                if (!div) return;

                if (event.matches) {
                    div.classList.remove('container-xxl');
                } else {
                    div.classList.add('container-xxl');
                }
            }

            const mediaQuery = window.matchMedia('(max-width: 1260px)');

            handleScreenSizeChange(mediaQuery);
            mediaQuery.addEventListener('change', handleScreenSizeChange);
        </script>
    }

    <script src="@Assets["js/app.js"]"></script>
    <script src="@Assets["js/parsalud-button.js"]"></script>
    <script src="@Assets["js/button-arrow.js"]"></script>
    <script src="@Assets["js/email-icon.js"]"></script>
    <script src="@Assets["js/phone-icon.js"]"></script>
    <script src="@Assets["js/location-icon.js"]"></script>
    <script src="@Assets["js/popper.min.js"]"></script>
    <script src="@Assets["lib/bootstrap/dist/js/bootstrap.min.js"]"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>